<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.pz.basic.mall.dao.freight.MallLogisticsDao">

    <resultMap id="ResultMap" type="MallLogistics">
        <id property="id" column="id"/>
        <id property="logisticsCode" column="logistics_code"/>
        <id property="logisticsName" column="logistics_name"/>
        <id property="logisticsIcon" column="logistics_icon"/>
        <id property="logisticsUrl" column="logistics_url"/>
        <id property="logisticsRemark" column="logistics_remark"/>
        <id property="freightLimit" column="freight_limit"/>
        <id property="customFeeLimit" column="custom_fee_limit"/>
        <id property="customTimeLimit" column="custom_time_limit"/>
        <id property="showLimit" column="show_limit"/>
        <id property="status" column="status"/>
        <id property="createUser" column="create_user"/>
        <id property="modifyUser" column="modify_user"/>
        <id property="created" column="created"/>
        <id property="modified" column="modified"/>
    </resultMap>

    <sql id="ALL_TABLE_COLOUM">
        id,
        logistics_code,
        logistics_name,
        logistics_icon,
        logistics_url,
        logistics_remark,
        freight_limit,
        custom_fee_limit,
        custom_time_limit,
        show_limit,
        status,
        create_user,
        modify_user,
        created,
        modified
    </sql>

    <sql id="Query_Where_Clause">
        <where>
            status > -1
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="logisticsCode != null and logisticsCode != ''">
                and logistics_code = #{logisticsCode}
            </if>
            <if test="logisticsName != null and logisticsName != ''">
                and logistics_name = #{logisticsName}
            </if>
            <if test="logisticsIcon != null and logisticsIcon != ''">
                and logistics_icon = #{logisticsIcon}
            </if>
            <if test="logisticsUrl != null and logisticsUrl != ''">
                and logistics_url = #{logisticsUrl}
            </if>
            <if test="logisticsRemark != null and logisticsRemark != ''">
                and logistics_remark = #{logisticsRemark}
            </if>
            <if test="freightLimit != null and freightLimit != ''">
                and freight_limit = #{freightLimit}
            </if>
            <if test="customFeeLimit != null and customFeeLimit != ''">
                and custom_fee_limit = #{customFeeLimit}
            </if>
            <if test="customTimeLimit != null and customTimeLimit != ''">
                and custom_time_limit = #{customTimeLimit}
            </if>
            <if test="showLimit != null and showLimit != ''">
                and show_limit = #{showLimit}
            </if>
            <if test="status!= null and status != ''">
                and status = #{status}
            </if>
            <if test="createUser != null and createUser != ''">
                and create_user = #{createUser}
            </if>
            <if test="modifyUser != null and modifyUser != ''">
                and modify_user = #{modifyUser}
            </if>
            <if test="created != null and created != ''">
                and created = #{created}
            </if>
            <if test="modified !=null and modified != ''">
                and modified = #{modified}
            </if>

            <if test="logisticsNameLike != null and logisticsNameLike != ''">
                and logistics_name like concat(#{logisticsNameLike},'%')
            </if>
        </where>
    </sql>

    <select id="selectMallLogisticsByQuery" resultMap="ResultMap" parameterType="QueryMallLogistics">
        select
        <include refid="ALL_TABLE_COLOUM"/>
        from mall_logistics
        <if test="page!= null">
            <include refid="Query_Where_Clause"/>
        </if>
    </select>

    <select id="selectMallLogisticsByPage" resultMap="ResultMap" parameterType="QueryMallLogistics">
        select
        <include refid="ALL_TABLE_COLOUM"/>
        from mall_logistics
        <if test="page != null">
            <include refid="Query_Where_Clause"/>
        </if>
        LIMIT #{startRow}, #{pageSize}
    </select>

    <select id="selectMallLogisticsById" resultMap="ResultMap" parameterType="java.lang.Long">
        select
        <include refid="ALL_TABLE_COLOUM"/>
        from mall_logistics
        where id = #{id}
    </select>

    <delete id="deleteMallLogisticsById" parameterType="java.lang.Integer">
        delete from mall_logistics
        where id = #{id}
    </delete>

    <delete id="deleteMallLogisticsByQuery" parameterType="QueryMallLogistics">
        delete from mall_logistics
        <if test="page!= null">
            <include refid="Query_Where_Clause"/>
        </if>
    </delete>

    <insert id="insertMallLogistics" parameterType="MallLogistics">
        INSERT INTO
        mall_logistics(id,logistics_code,logistics_name,logistics_icon,logistics_url,logistics_remark,freight_limit,custom_fee_limit,custom_time_limit,show_limit,status,create_user,modify_user,created,modified)
        VALUES(#{id},#{logisticsCode},#{logisticsName},#{logisticsIcon},#{logisticsUrl},#{logisticsRemark},#{freightLimit},#{customFeeLimit},#{customTimeLimit},#{showLimit},#{status},#{createUser},#{modifyUser},#{created},#{modified})
        <selectKey resultType="long" keyProperty="id">
            SELECT @@IDENTITY AS ID
        </selectKey>
    </insert>

    <insert id="insertMallLogisticsModified" parameterType="MallLogistics">
        insert into mall_logistics
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="logisticsCode != null">
                logistics_code,
            </if>
            <if test="logisticsName != null">
                logistics_name,
            </if>
            <if test="logisticsIcon != null">
                logistics_icon,
            </if>
            <if test="logisticsUrl != null">
                logistics_url,
            </if>
            <if test="logisticsRemark != null">
                logistics_remark,
            </if>
            <if test="freightLimit != null">
                freight_limit,
            </if>
            <if test="customFeeLimit != null">
                custom_fee_limit,
            </if>
            <if test="customTimeLimit != null">
                custom_time_limit,
            </if>
            <if test="showLimit != null">
                show_limit,
            </if>
            <if test="status!= null">
                status,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="modifyUser != null">
                modify_user,
            </if>
            <if test="created != null">
                created,
            </if>
            <if test="modified !=null">
                modified,
            </if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id !=null">
                #{id},
            </if>
            <if test="logisticsCode != null">
                #{logisticsCode},
            </if>
            <if test="logisticsName != null">
                #{logisticsName},
            </if>
            <if test="logisticsIcon != null">
                #{logisticsIcon},
            </if>
            <if test="logisticsUrl != null">
                #{logisticsUrl},
            </if>
            <if test="logisticsRemark != null">
                #{logisticsRemark},
            </if>
            <if test="freightLimit != null">
                #{freightLimit},
            </if>
            <if test="customFeeLimit != null">
                #{customFeeLimit},
            </if>
            <if test="customTimeLimit != null">
                #{customTimeLimit},
            </if>
            <if test="showLimit != null">
                #{showLimit},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="createUser != null">
                #{createUser},
            </if>
            <if test="modifyUser != null">
                #{modifyUser},
            </if>
            <if test="created!= null">
                now(),
            </if>
            <if test="modified != null">
                now(),
            </if>
        </trim>
        <selectKey resultType="long" keyProperty="id">
            SELECT @@IDENTITY AS ID
        </selectKey>
    </insert>

    <select id="countByQuery" parameterType="QueryMallLogistics" resultType="java.lang.Long">
        select count(*) from mall_logistics
        <if test="page!= null">
            <include refid="Query_Where_Clause"/>
        </if>
    </select>

    <update id="updateMallLogisticsByIdModified" parameterType="MallLogistics">
        update mall_logistics
        <set>
            <if test="logisticsCode != null">
                logistics_code = #{logisticsCode},
            </if>
            <if test="logisticsName != null">
                logistics_name = #{logisticsName},
            </if>
            <if test="logisticsIcon != null">
                logistics_icon = #{logisticsIcon},
            </if>
            <if test="logisticsUrl != null">
                logistics_url = #{logisticsUrl},
            </if>
            <if test="logisticsRemark != null">
                logistics_remark = #{logisticsRemark},
            </if>
            <if test="freightLimit != null">
                freight_limit = #{freightLimit},
            </if>
            <if test="customFeeLimit != null">
                custom_fee_limit = #{customFeeLimit},
            </if>
            <if test="customTimeLimit != null">
                custom_time_limit = #{customTimeLimit},
            </if>
            <if test="showLimit != null">
                show_limit = #{showLimit},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createUser != null">
                create_user = #{createUser},
            </if>
            <if test="modifyUser != null">
                modify_user = #{modifyUser},
            </if>
            <if test="created != null">
                created = #{created},
            </if>
            <if test="modified != null">
                modified = now(),
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>