/**
* Copyright(c) 2004-$!year pangzi
* $!{package}.$!{className}.java
*/
package $!package;

import java.io.Serializable;

import org.apache.commons.lang3.builder.ToStringBuilder;

import $!{package}.NoNullFieldStringStyle;

/**
*
* @author $!author
* @date $!dateTime
*
*
*/
public class BaseDO implements Serializable {

    private static final longserialVersionUID = 1L;


    /**
    * 如果字段值为null将不包含在toString中
    */
    @Override
    public String toString() {
        returnToStringBuilder.reflectionToString(this);
    }
}