
/**
* Copyright(c) 2004-$!year pangzi
* $!{package}.$!{className}.java
*/
package $!package;
import java.util.Date;
#foreach($importin $imports)
import $import;
#end

/**
*
* @author $!author
* @date $!dateTime
*
*
*/
public class Query$!className extends PaginateBaseDO {

    #foreach($field in $fields)
    /**$!field.comment**/
    private $!field.javaType$!field.propertyName;

    #end

    #foreach($field in $fields)
    public $!field.javaType$field.getGetterName()() {
        return $field.propertyName;
    }

    public void $field.getSetterName()($!field.javaType $!field.propertyName) {
        this.$!field.propertyName =$!field.propertyName;
    }

    #end

}